<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monkey1024.dao.EmployeeDao">

	<resultMap id="childrenMap" type="employee">
		<id property="id" column="id"/>
		<collection property="children" ofType="employee" select="selectChildrenByPid" column="id"/>
	</resultMap>
	
	<select id="selectChildrenByPid" resultMap="childrenMap">
		select id, name, job
		from t_employee
		where mgr=#{pid}
	</select>

	<select id="selectEmployeeById" resultMap="childrenMap">
		select id, name, job
		from t_employee
		where id=#{id}
	</select>

</mapper>